/* BRAND */
/*Gradients */
/* Breakpoints */
/* Sizes */
/* ------------------------------------------------------ */
/* General */
html {
  font-size: 16px; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 13px; } }
  @media only screen and (max-width: 770px) {
    html {
      font-size: 12px; } }
  @media only screen and (max-width: 320px) {
    html {
      font-size: 11px; } }

body {
  font-family: "Black Ops One", cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./../public/assets/images/bg/pool_table.png"); }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

/* Text */
a > i {
  transition: transform 0.4s; }
  a > i:hover {
    transform: scale(1.6); }

h1, h2, h3, h4, h5, h6 {
  color: #f4f4f4; }

p {
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace; }
  p a {
    color: #009BDB; }
    p a:hover {
      color: #000000;
      text-decoration: none; }

/* Index */
.mtitle {
  font-size: 3.2rem; }

p {
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace; }
  p a {
    color: #009BDB; }
    p a:hover {
      color: #000000;
      text-decoration: none; }

/* Images */
img.mimg {
  width: 15vw;
  height: auto;
  min-width: 150px;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -ms-box-shadow: 0px 0px 7px 5px #262626;
  -webkit-box-shadow: 0px 0px 7px 5px #262626;
  -moz-box-shadow: 0px 0px 7px 5px #262626;
  -o-box-shadow: 0px 0px 7px 5px #262626;
  box-shadow: 0px 0px 7px 5px #262626;
  transition: transform 0.6s; }
  img.mimg:hover {
    transform: scale(1.2); }

/* Spaces */
.bottom-space {
  margin-bottom: 24vh; }

.bottom-space-sm {
  margin-bottom: 9rem; }

.top-space {
  margin-top: 10rem; }
  @media only screen and (max-width: 770px) {
    .top-space {
      margin-top: 11rem; } }

img.mlogo {
  height: 12vh;
  width: auto;
  transition: transform 0.6s;
  -ms-border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -ms-box-shadow: 0px 0px 7px 2px #262626;
  -webkit-box-shadow: 0px 0px 7px 2px #262626;
  -moz-box-shadow: 0px 0px 7px 2px #262626;
  -o-box-shadow: 0px 0px 7px 2px #262626;
  box-shadow: 0px 0px 7px 2px #262626; }
  img.mlogo:hover {
    transform: scale(1.2); }
  @media only screen and (max-width: 770px) {
    img.mlogo {
      height: 9vh; } }

/* Social Chip */
.button-chip-sm {
  width: 10vh;
  height: 10vh;
  border: 3px dashed #f4f4f4;
  background-color: #E81A2E;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 0.7rem;
  font-family: "Black Ops One", cursive;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s;
  font-size: 1rem; }
  .button-chip-sm:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 770px) {
    .button-chip-sm {
      right: 1rem; } }
  @media only screen and (max-width: 650px) {
    .button-chip-sm {
      width: 15vw;
      height: 15vw; } }

.button-chip-lg {
  width: 13vw;
  height: 13vw;
  border: 3px dashed #f4f4f4;
  background-color: #E81A2E;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 0.7rem;
  font-family: "Black Ops One", cursive;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s;
  font-size: 1.4rem; }
  .button-chip-lg:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 770px) {
    .button-chip-lg {
      right: 1rem; } }
  @media only screen and (max-width: 650px) {
    .button-chip-lg {
      width: 13vh;
      height: 13vh; } }

/* Social Container */
.social-chip:hover + .social-container {
  display: block; }

.social-container {
  left: 1rem;
  display: none;
  background-color: #f4f4f4;
  width: 8rem;
  height: 12.5rem;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -ms-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8); }
  .social-container header h3 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    color: #E81A2E; }
  .social-container img {
    transition: transform 0.5s;
    cursor: pointer; }
  .social-container:hover {
    display: block; }
    .social-container:hover img {
      transform: scale(1.3); }

a > i {
  color: #E81A2E;
  transition: transform 0.4s; }
  a > i:hover {
    transform: scale(1.6); }

aside {
  z-index: 9999;
  bottom: 40vh; }

/* Social Icon */
.social-icon {
  font-size: 1.3rem; }

/* Arrow */
.arrow-container {
  cursor: pointer;
  right: 1.8rem;
  bottom: 4rem;
  -ms-transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  transition: transform 0.3s; }
  .arrow-container:hover {
    transform: scale(1.3); }

.line {
  width: 0;
  height: 9vh;
  border-right: 4px dashed #f4f4f4; }

.arrow {
  border: dashed #f4f4f4;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.8rem; }

.right {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.left {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.up {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.down {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/*Home */
.pool-box {
  background-image: url("./../public/assets/images/bg/pool_table.png");
  -ms-box-shadow: 2px 3px 4px 2px #262626;
  -webkit-box-shadow: 2px 3px 4px 2px #262626;
  -moz-box-shadow: 2px 3px 4px 2px #262626;
  -o-box-shadow: 2px 3px 4px 2px #262626;
  box-shadow: 2px 3px 4px 2px #262626; }

.msuper-title {
  font-family: "Cinzel Decorative", cursive;
  color: #f4f4f4;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  line-height: 5rem;
  text-shadow: 2px 2px 10px black;
  padding: 2rem 1rem; }

/* Card Shapes */
.card-shape {
  border: 3px dashed #f4f4f4;
  width: 8.07rem;
  height: 11.45rem;
  margin: 0 auto;
  -ms-transition: 0.4 ease;
  -webkit-transition: 0.4 ease;
  -moz-transition: 0.4 ease;
  -o-transition: 0.4 ease;
  transition: 0.4 ease;
  transition: transform 0.4s;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  .card-shape:hover {
    transform: scale(1.05); }
  .card-shape a {
    text-decoration: none;
    color: #E81A2E; }
    .card-shape a h4 {
      display: none;
      font-size: 0.9rem;
      text-align: center;
      color: #262626; }
    .card-shape a div {
      text-align: center; }
      .card-shape a div i {
        text-decoration: none; }
  .card-shape:hover {
    background-color: #f4f4f4;
    border: 3px dashed #262626;
    background-image: -ms-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
    background-image: -webkit-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
    background-image: -moz-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
    background-image: -o-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
    background-image: linear-gradient(to bottom right, #D4D4D4, #f4f4f4); }
    .card-shape:hover:hover a h4 {
      display: block; }
    .card-shape:hover:hover i {
      transition: transform 0.6s;
      transform: scale(1.9); }
  @media only screen and (max-width: 650px) {
    .card-shape {
      width: 62px;
      height: 88px; } }

/* About */
.mcard {
  background-color: #f4f4f4;
  margin: 0 auto 2.5rem;
  overflow: hidden;
  -ms-box-shadow: 0px 0px 6px 3px #262626;
  -webkit-box-shadow: 0px 0px 6px 3px #262626;
  -moz-box-shadow: 0px 0px 6px 3px #262626;
  -o-box-shadow: 0px 0px 6px 3px #262626;
  box-shadow: 0px 0px 6px 3px #262626;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  width: 250px;
  height: 265px; }
  .mcard:hover {
    height: 387px;
    z-index: 9999; }
  .mcard .mcard-header {
    position: absolute;
    width: 100%;
    background-color: #D4D4D4;
    -ms-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    color: #E81A2E;
    font-family: "Cinzel Decorative", cursive;
    font-weight: 600;
    text-align: center;
    margin-top: 150px; }
  .mcard .mcard-symbol {
    position: absolute;
    margin-top: 18px;
    width: 100%; }
  .mcard .mcard-content {
    display: none;
    position: absolute;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
    color: #f4f4f4;
    z-index: 9998; }
    .mcard .mcard-content p {
      padding: 0.4rem; }
      .mcard .mcard-content p a {
        color: #009BDB;
        text-decoration: none; }
        .mcard .mcard-content p a:hover {
          color: #f4f4f4; }
    .mcard .mcard-content > i {
      width: 235px;
      margin-top: 0.8rem; }
      .mcard .mcard-content > i i.fa {
        color: #E81A2E;
        transition: transform 0.4s;
        transform: scale(2.1); }
    .mcard .mcard-content i.fa {
      margin-left: 2rem; }
  .mcard .mcard-btn-container {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 9998;
    width: 100%; }
  .mcard .mcard-circle {
    background-color: #262626;
    border-radius: 50%;
    height: 600px;
    width: 650px;
    margin-left: -82%;
    margin-top: -480px; }
  .mcard:hover .mcard-header {
    margin-top: 269px; }
  .mcard:hover .mcard-symbol {
    display: none; }
  .mcard:hover .mcard-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mcard:hover .mcard-btn-container {
    display: block;
    margin-top: 285px; }
  .mcard:hover .mcard-circle {
    margin-top: -360px; }

/*Contact Form */
.maboutform {
  -ms-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  z-index: 9999; }

#mContactForm small {
  margin-top: 0.5rem;
  color: #262626;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  margin: 0 auto; }

.about-form small {
  margin-top: 0.5rem;
  color: #f4f4f4;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  margin: 0 auto; }

input, textarea {
  -ms-transition: 0.7s ease-out;
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -ms-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
  background-image: -webkit-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
  background-image: -moz-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
  background-image: -o-linear-gradient(to bottom right, #D4D4D4, #f4f4f4);
  background-image: linear-gradient(to bottom right, #D4D4D4, #f4f4f4); }
  input:hover, textarea:hover {
    border: 2px solid #262626; }

/*Portfolio */
.mportfoliocard {
  background-color: #f4f4f4;
  margin: auto; }
  .mportfoliocard .card-body button {
    display: block;
    margin: auto; }
    .mportfoliocard .card-body button a {
      padding: 0.7rem 0.7rem; }
  .mportfoliocard ul > li {
    text-align: center; }
  .mportfoliocard img {
    transition: transform 0.4s;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    max-height: 200px; }
    .mportfoliocard img:hover {
      transform: scale(1.1); }
  .mportfoliocard p {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    color: #262626; }

.card {
  -ms-box-shadow: 0px 0px 7px 5px #262626;
  -webkit-box-shadow: 0px 0px 7px 5px #262626;
  -moz-box-shadow: 0px 0px 7px 5px #262626;
  -o-box-shadow: 0px 0px 7px 5px #262626;
  box-shadow: 0px 0px 7px 5px #262626; }
  .card h5.card-header {
    height: 4rem;
    background-color: #262626;
    color: #E81A2E;
    text-align: center; }
    .card h5.card-header a {
      font-size: 1.4rem;
      font-family: "Roboto Mono", monospace;
      color: #E81A2E;
      font-weight: 600;
      text-transform: uppercase; }

.card-title {
  color: #E81A2E; }

.btn-border-primary {
  border: 1px solid #E81A2E;
  background-clip: border-box;
  background: none;
  color: #E81A2E;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 2rem;
  font-family: "Black Ops One", cursive;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -ms-transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out; }
  .btn-border-primary a {
    -ms-transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    text-decoration: none;
    color: #E81A2E; }
  .btn-border-primary:hover {
    background-color: #E81A2E;
    color: #f4f4f4;
    background-image: -ms-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -webkit-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -moz-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -o-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: linear-gradient(to bottom right, #E81A2E, #D4D4D4); }
  .btn-border-primary:hover a {
    color: #f4f4f4; }

.btn-border-secondary {
  border: 2px solid #009BDB;
  background-clip: border-box;
  background: none;
  color: #009BDB;
  -ms-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  width: 75%;
  height: 2.5rem;
  font-family: "Bungee", cursive;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }
  .btn-border-secondary:hover {
    background-color: #009BDB;
    color: #f4f4f4; }

.btn-border-black {
  border: 2px solid #262626;
  background-clip: border-box;
  color: #262626;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -ms-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -webkit-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -moz-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -o-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: linear-gradient(to bottom right, #f4f4f4, #D4D4D4); }
  .btn-border-black a {
    -ms-transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    text-decoration: none;
    color: #E81A2E; }
  .btn-border-black:hover {
    background-color: #262626;
    color: #f4f4f4;
    background-image: -ms-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -webkit-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -moz-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -o-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: linear-gradient(to bottom right, #262626, #D4D4D4); }
  .btn-border-black:hover a {
    color: #f4f4f4; }

i:hover {
  cursor: pointer;
  font-weight: 900; }
  i:hover > i {
    color: #E81A2E; }

button a {
  color: #f4f4f4;
  text-decoration: none; }
  button a:hover {
    color: #262626;
    text-decoration: none; }

.modal {
  -ms-transition: 0.7s ease-out;
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  background-color: #262626; }
  .modal .modal-dialog {
    background-color: #f4f4f4;
    z-index: 9999; }

details {
  margin-bottom: 0.7rem; }
  details summary {
    color: #000000; }
    details summary:hover {
      cursor: pointer;
      font-size: 1.2rem;
      color: #f4f4f4; }
  details li a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 7rem; }
    details li a:hover {
      text-decoration: none;
      color: #f4f4f4; }

.goUpButton {
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  color: #f4f4f4;
  text-decoration: none;
  -ms-transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out; }
  .goUpButton:hover {
    background-color: #262626;
    color: #f4f4f4; }

#mfood .food-content dl hr {
  width: 80%; }
#mfood .food-content dl dd img.m-img {
  -ms-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -ms-box-shadow: 2px 2px 5px 3px #262626;
  -webkit-box-shadow: 2px 2px 5px 3px #262626;
  -moz-box-shadow: 2px 2px 5px 3px #262626;
  -o-box-shadow: 2px 2px 5px 3px #262626;
  box-shadow: 2px 2px 5px 3px #262626;
  transition: transform 0.4s; }
  #mfood .food-content dl dd img.m-img:hover {
    transform: scale(1.1); }
#mfood .food-content dl dd p.right-text {
  display: flex;
  justify-content: flex-end; }
  #mfood .food-content dl dd p.right-text a {
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    color: #f4f4f4;
    text-decoration: none; }
    #mfood .food-content dl dd p.right-text a:hover {
      background-color: #262626; }
#mfood .food-content dl dd ul li h4 {
  color: #f4f4f4;
  margin: 2rem 0; }
#mfood .recipes-button button {
  display: block;
  margin: auto; }

.myModalImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }
  .myModalImg:hover {
    opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
nav .nav-cards {
  -ms-transition: 0.7s ease-out;
  -webkit-transition: 0.7s ease-out;
  -moz-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  position: fixed;
  bottom: -210px;
  width: 100%;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media only screen and (max-width: 770px) {
    nav .nav-cards {
      bottom: -160px; } }
  nav .nav-cards .card1 {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 10px; }
    nav .nav-cards .card1 .nav-card {
      -ms-transform: rotate(-7deg);
      -webkit-transform: rotate(-7deg);
      -moz-transform: rotate(-7deg);
      -o-transform: rotate(-7deg);
      transform: rotate(-7deg); }
      nav .nav-cards .card1 .nav-card:hover {
        transition: 0.4s;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -3rem; }
  nav .nav-cards .card2 {
    grid-column: 2/3;
    position: relative;
    right: 10px; }
    nav .nav-cards .card2 .nav-card {
      -ms-transform: rotate(8deg);
      -webkit-transform: rotate(8deg);
      -moz-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      transform: rotate(8deg); }
      nav .nav-cards .card2 .nav-card:hover {
        transition: 0.4s;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -3rem; }

.nav-card {
  background-color: #262626;
  color: #f4f4f4;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -ms-box-shadow: 0px 0px 10px 3px #262626;
  -webkit-box-shadow: 0px 0px 10px 3px #262626;
  -moz-box-shadow: 0px 0px 10px 3px #262626;
  -o-box-shadow: 0px 0px 10px 3px #262626;
  box-shadow: 0px 0px 10px 3px #262626;
  border: 2px solid #f4f4f4;
  text-align: center;
  width: 12rem;
  height: 19.8rem; }
  .nav-card:hover .nav-card-content .nav-card-title {
    -ms-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    transform: scale(1.1); }
  .nav-card:hover .nav-card-content .nav-card-title a {
    color: #f4f4f4; }
    .nav-card:hover .nav-card-content .nav-card-title a:hover {
      color: #E81A2E;
      font-size: 2rem; }
  .nav-card .nav-card-content {
    padding: 0.8rem; }
    .nav-card .nav-card-content .nav-card-title {
      font-size: 1.85rem;
      margin: 0; }
      .nav-card .nav-card-content .nav-card-title a {
        color: #E81A2E;
        text-decoration: none; }
    .nav-card .nav-card-content .nav-card-text {
      font-family: "Cinzel Decorative", cursive;
      font-weight: 600;
      margin-top: 1rem;
      text-transform: uppercase; }
    .nav-card .nav-card-content img {
      margin-top: 0.2rem;
      width: 30%;
      height: auto; }

.mfooter {
  grid-column: 3/15;
  margin: 8rem 0 4rem;
  display: flex;
  justify-content: space-around; }
  .mfooter .footer-circle {
    background-color: #E81A2E;
    color: #f4f4f4;
    width: 13vw;
    height: 13vw;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -ms-box-shadow: 0px 0px 8px 6px #262626;
    -webkit-box-shadow: 0px 0px 8px 6px #262626;
    -moz-box-shadow: 0px 0px 8px 6px #262626;
    -o-box-shadow: 0px 0px 8px 6px #262626;
    box-shadow: 0px 0px 8px 6px #262626;
    border: 2px dashed #f4f4f4;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mfooter .footer-circle:hover {
      transform: scale(1.3); }
    @media only screen and (max-width: 770px) {
      .mfooter .footer-circle {
        width: 12vh;
        height: 12vh; } }
    .mfooter .footer-circle:hover a {
      color: #f4f4f4; }
  .mfooter p {
    text-align: center; }
  @media only screen and (max-width: 770px) {
    .mfooter p.copysymbol {
      background-color: blue;
      color: green;
      display: none; } }
  .mfooter a {
    text-decoration: none;
    color: #262626;
    text-align: center; }
  .mfooter #mcopy {
    order: 1;
    position: relative;
    top: 4rem; }
    .mfooter #mcopy #mcopy-right {
      margin-top: 2rem; }
  .mfooter #memail {
    order: 0; }
  .mfooter #mcv {
    order: 2; }

aside {
  position: absolute;
  bottom: 40vh;
  position: fixed;
  z-index: 9999; }
  @media only screen and (max-width: 650px) {
    aside {
      bottom: 37vh; } }
  aside .social-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -ms-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s;
    border: 3px solid #f4f4f4;
    background-color: #E81A2E;
    position: relative;
    left: -12px; }
    aside .social-circle:hover {
      transform: scale(1.1); }
    @media only screen and (max-width: 650px) {
      aside .social-circle {
        width: 15vw;
        height: 15vw; } }
    aside .social-circle:hover + .social-media-container {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    aside .social-circle + .social-media-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      left: 0.9rem;
      display: none;
      padding: 0;
      background-color: #f4f4f4;
      width: 6.7rem;
      height: 11rem;
      -ms-border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -ms-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
      -moz-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
      -o-box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8);
      box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.8); }
      aside .social-circle + .social-media-container:hover {
        display: grid;
        grid-template-columns: 1fr 1fr; }
      aside .social-circle + .social-media-container:hover footer.msymbol a img {
        transition: transform 0.5s;
        transform: scale(1.3); }
      aside .social-circle + .social-media-container .mrow a i {
        color: #E81A2E; }
      aside .social-circle + .social-media-container header {
        grid-column: 1/3; }
        aside .social-circle + .social-media-container header h1 {
          margin: 0;
          text-align: center;
          font-weight: 600; }
          aside .social-circle + .social-media-container header h1 a {
            font-family: "Cinzel Decorative", cursive;
            text-decoration: none;
            margin: 0 auto;
            font-size: 1rem; }
            aside .social-circle + .social-media-container header h1 a:hover {
              color: #262626; }
      aside .social-circle + .social-media-container footer.msymbol {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 0.7rem; }
      aside .social-circle + .social-media-container .mrow {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: space-around; }
    aside .social-circle p {
      color: #f4f4f4;
      position: relative;
      font-size: 0.7rem;
      left: 0.1rem;
      top: 0.3rem; }
  aside #marrow-container {
    display: flex;
    flex-direction: column;
    -ms-transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out; }
  aside .arrow-container {
    position: absolute;
    right: 1.2rem;
    bottom: 3.7rem;
    position: fixed;
    cursor: pointer;
    transition: transform 0.3s; }
    aside .arrow-container:hover {
      transform: scale(1.3); }

.line {
  width: 0;
  height: 9vh;
  border-right: 3px dashed #f4f4f4;
  margin-left: 0.7rem; }

.arrow {
  border: dashed #f4f4f4;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 0.8rem; }

.right {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.left {
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.up {
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.down {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn-border-primary {
  border: 1px solid #E81A2E;
  background-clip: border-box;
  background: none;
  color: #E81A2E;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 2rem;
  font-family: "Black Ops One", cursive;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -ms-transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out; }
  .btn-border-primary a {
    -ms-transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    text-decoration: none;
    color: #E81A2E; }
  .btn-border-primary:hover {
    background-color: #E81A2E;
    color: #f4f4f4;
    background-image: -ms-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -webkit-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -moz-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: -o-linear-gradient(to bottom right, #E81A2E, #D4D4D4);
    background-image: linear-gradient(to bottom right, #E81A2E, #D4D4D4); }
  .btn-border-primary:hover a {
    color: #f4f4f4; }

.btn-border-secondary {
  border: 2px solid #009BDB;
  background-clip: border-box;
  background: none;
  color: #009BDB;
  -ms-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  width: 75%;
  height: 2.5rem;
  font-family: "Bungee", cursive;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  -ms-transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }
  .btn-border-secondary:hover {
    background-color: #009BDB;
    color: #f4f4f4; }

.btn-border-black {
  border: 2px solid #262626;
  background-clip: border-box;
  background-image: -ms-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -webkit-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -moz-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: -o-linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  background-image: linear-gradient(to bottom right, #f4f4f4, #D4D4D4);
  color: #262626;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  height: 2rem;
  font-family: "Black Ops One", cursive;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.2rem 2rem;
  display: block;
  margin: 0 auto;
  -ms-transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out; }
  .btn-border-black a {
    -ms-transition: 0.6s ease-out;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    text-decoration: none;
    color: #E81A2E; }
  .btn-border-black:hover {
    background-color: #262626;
    color: #f4f4f4;
    background-image: -ms-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -webkit-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -moz-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: -o-linear-gradient(to bottom right, #262626, #D4D4D4);
    background-image: linear-gradient(to bottom right, #262626, #D4D4D4); }
  .btn-border-black:hover a {
    color: #f4f4f4; }

input#txtFieldSearch {
  text-align: right;
  font-size: 0.8rem;
  font-family: "Bungee", cursive;
  border-radius: 20px; }

table, tr, td, th {
  border: 1px solid #f4f4f4;
  border-collapse: collapse; }

#skills-table {
  display: block;
  width: 225px;
  margin: 0 auto; }
  #skills-table tr td, #skills-table tr th {
    padding: 0.2rem 0; }

#skills-table tr:nth-child(even) {
  background-color: #D4D4D4;
  color: #000000; }

#skills-table tr:hover {
  background-color: #f4f4f4;
  color: #000000; }

.mcard-list {
  width: 225px; }
  .mcard-list ul {
    list-style: none;
    padding: 0; }
    .mcard-list ul li {
      cursor: pointer;
      text-decoration: none;
      margin: 2rem 0; }
      .mcard-list ul li:hover {
        font-weight: 900; }
      .mcard-list ul li:hover i {
        transition: transform 0.4s;
        transform: scale(1.5);
        color: #E81A2E; }
      .mcard-list ul li i {
        margin-left: 2rem; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
