//***************** DEFAULT *********************//
html 
    font-size: $font-base-size
                
    @media #{$information-desktop} 
        font-size: 14px
    
    @media #{$information-tablet} 
        font-size: 13px
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 12px
    
    @media #{$information-phone} 
        font-size: 11px
    
    
body 
    font-family: $font-primary
    line-height: $line-height
    margin: 0
    padding: 0
    
    //background-image: url("./../assets/images/bg/blue_pool_table.jpg")
    background-image: url("./../assets/images/bg/pool_table.png")

   
//Headings
h1 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2.4rem
                
    @media #{$information-desktop} 
        font-size: 2.1rem
    
    @media #{$information-tablet} 
        font-size: 1.7rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.45rem
    
    @media #{$information-phone} 
        font-size: 1.2rem

h2
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2.2rem
                
    @media #{$information-desktop} 
        font-size: 1.9rem
    
    @media #{$information-tablet} 
        font-size: 1.65rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.375rem
    
    @media #{$information-phone} 
        font-size: 1.18rem

h3 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2rem
                
    @media #{$information-desktop} 
        font-size: 1.7rem
    
    @media #{$information-tablet} 
        font-size: 1.5rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.325rem
    
    @media #{$information-phone} 
        font-size: 1.16rem

h4 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.8rem
                
    @media #{$information-desktop} 
        font-size: 1.6rem
    
    @media #{$information-tablet} 
        font-size: 1.375rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.275rem
    
    @media #{$information-phone} 
        font-size: 1.14rem

h5 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.7rem
                
    @media #{$information-desktop} 
        font-size: 1.45rem
    
    @media #{$information-tablet} 
        font-size: 1.325rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.215rem
    
    @media #{$information-phone} 
        font-size: 1.11rem

h6 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.6rem
                
    @media #{$information-desktop} 
        font-size: 1.4rem
    
    @media #{$information-tablet} 
        font-size: 1.3rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.2rem
    
    @media #{$information-phone} 
        font-size: 1.1rem



//***************** FLEX SEARCH BAR *********************//
.flex-search-bar
    height: $search-bar-height
    //background-color:   $brand-black

    display: flex
    justify-content: space-between
    align-items: center

    position: fixed
    width: 100%
    z-index: 9998
    top: 1rem

    .search-bar-logo 
        margin-left: 2.5rem 

        @media #{"only screen and (max-width : 770px)"} 
            margin-left: 1rem 

        a img.mlogo
            //background-color: $brand-black
            height: $search-bar-logo-height
            width: auto

            +zoomUp(.4s, 1.27)

            @media #{"only screen and (max-width : 770px)"} 
                height: $search-bar-logo-height-sm


    #food-circle 
        a 
            text-decoration: none
            color: $brand-white


    .search-circle
        position: relative
        right: $margin-content
        top: -6.5vh

        display: flex
        align-items: center
        justify-content: center

        width: $chip-size 
        height: $chip-size
        cursor: pointer 
        color: $brand-white
        font-size: 0.7rem
             
        +mBorderR(50%)
        +mShadow( 0px 0px 9px 7px rgba(0,0,0,.8)) // Box Shadow
        +zoomUp(.5s, 1.1)

        border: 3px solid $brand-white
        background-color: $brand-red
        //margin-left:        -2.3rem

        @media #{"only screen and (max-width : 770px)"} 
            right: 1rem


        @media #{"only screen and (max-width : 650px)"} 
            width: $chip-size-sm 
            height: $chip-size-sm
            
        


#searchModal
    z-index: 9999


//***************** Content Page *********************//
.bg-black 
    background-color: $brand-black


div.sticky
    position: sticky
    top: $search-bar-element-max-height
    

.grid-container
    display: grid
    grid-template-columns: repeat(2, $margin-content) repeat($columns-num, auto) repeat(2, $margin-content)
    
    margin: 6.5rem 0 0 0

    @media #{"only screen and (max-width : 770px)"}
        grid-template-columns: repeat(2, .8rem) repeat($columns-num, auto) repeat(2, .8rem)  


    section 
        grid-column: 3/15

        #super-title
            +mShadow(2px 2px 6px 3px rgba(0,0,0,.4))

            h1.msuper-title
                font-family: $font-secondary
                color: $brand-white
                font-weight: 600
                text-align: center
                font-size: 3.5rem
                line-height: 6rem
                letter-spacing: .5rem
                text-shadow: 2px 2px 10px black

                padding: 2rem 1rem


        header h1 
            //grid-column: 1/3
            text-align: center
            text-shadow: 1px 1px 2px $brand-white
            margin: 6rem 0 4.3rem


        #mpersonal
            display: grid
            grid-template-columns: 1fr 3fr // 2 cols

            .mimg-container
                grid-column: 1/2
                grid-row: 1/5

                margin: auto

                img
                    width: 15vw
                    height: auto

                    min-width: 150px

                    +mBorderR(9px)
                    +mShadow(0px 0px 8px 5px $brand-black)
                    +zoomUp(.6s, 1.2)

                @media #{"only screen and (max-width : 770px)"}
                    grid-column: 1/3
                    grid-row: 1/2

                    margin-top: 2rem
                    //margin-top: -5rem


            p
                grid-column: 2/3
                grid-row: 1/5
                color: $brand-white
                margin-left: 5rem
                font-family: $font-fourth

                @media #{"only screen and (max-width : 770px)"}
                    margin-left: .7rem  
                    grid-column: 1/3
                    grid-row: 2/3
                    margin-top: 2rem
                

                a 
                    color: $brand-white
                    text-decoration: none


        #mlab
            display: grid
            grid-template-columns: 1fr 4fr

            @media #{"only screen and (max-width : 770px)"}
                margin-top: -2rem
                grid-template-columns: 1fr

        
            .cards-group
                grid-column: 1/2
                display: flex
                    
                color: $brand-white


                @media #{"only screen and (max-width : 770px)"} 
                    grid-column: 1/2
                    margin: 0 auto


                .mlabcard
                    display: flex
                    justify-content: space-between
                    flex-direction: column
                    text-align: center
    
                    width: 162.72px
                    height: 231.4px
                    padding: 1rem
                    border: 2px solid $brand-white

                    +mBorderR(8px)
                    +mShadow(0px 0px 6px 4px $brand-black)
                    +zoomUp(.5s, 1.07)

                    @media #{"only screen and (max-width : 770px)"}
                        width: 135px
                        height: 192.833px

                    &:hover
                        z-index: 9995

                    h4 
                        a 
                            color: $brand-red

                    &:hover h4 a 
                        color: $brand-white
                            
                        
                .left-overlap 
                    position: relative
                    left: -78.8px
                    

                .left-overlap-2
                    position: relative
                    left: -157.6px
                

            .big-card
                grid-column: 3/4
                display: block
                margin: 0 auto

                @media #{"only screen and (max-width : 770px)"} 
                    grid-column: 1/2
                    margin-top: 2rem

                .info-card
                    display: flex
                    flex-direction: column
                    justify-content: space-around

                    width: 230px
                    height: 326.45px
                        //margin-top: 2rem
                    padding: .7rem

                    border: 2px solid $brand-white

                    +mBorderR(8px)
                    +mShadow(0px 0px 6px 4px $brand-black)

                    color: $brand-white

                    @media #{"only screen and (max-width : 770px)"} 
                        width: 209px
                        height: 296.77px


          
        #maboutform
            +mShadow(2px 2px 6px 3px rgba(0,0,0,.4))
            padding: 2rem

            display: grid
            grid-template-columns: 1fr 1fr

            //margin-top: 8rem

            @media #{"only screen and (max-width : 770px)"}
                margin-top: 5rem


            main 
                grid-column: 1/5

                display: grid
                grid-template-columns: 1fr


        #mabout, #mcategories, #mportfolio
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr

            //margin-top: 3.8rem

            @media #{"only screen and (max-width : 770px)"}
                margin-top: -2rem

            header 
                grid-column: 1/5

                h1 
                    text-align: center
                    text-shadow: 1px 1px 2px $brand-white
                    margin-bottom: 1.5rem
                    //margin-top: 1.7rem

            main 
                grid-column: 1/5

                display: grid
                grid-template-columns: 1fr 1fr

                @media #{"only screen and (max-width : 770px)"} 
                    //background-color: blue
                    grid-template-columns: 1fr

                .gallery-card
                    margin-bottom: 2.8rem
                    +mShadow(0 0 1rem $brand-gray)
                    +mBorderR(20px)
                    @extend .center-block
                    overflow: hidden

                
                    .card-header
                        background-color: $brand-black
                        
                        h5 
                            text-transform: uppercase
                            color: $brand-red
                            font-family: $font-secondary
                            padding-top: .8rem
                            font-weight: 600

                    .card-body
                        .carousel-control-prev, .carousel-control-next
                            background-color: $brand-black
                        
                        img 
                            min-height: 220px
                            max-height: 220px
                            width: auto
                            +zoomUp(.3s, 1.1)                            
                            
                                
        #mportfolio
            main 
                .maccordion
                    margin-top: 2rem
                    margin: 0 auto


                .card
                    +mShadow(0px 0px 7px 5px $brand-black)

                    //width: 85%

                    .card-header
                        height: 4rem
                        background-color: $brand-black

                        h5
                            text-align: center
                            margin-top: .4rem

                            a 
                                font-size: 1.4rem
                                font-family: $font-fourth
                                color: $brand-red
                                font-weight: 600
                                text-transform: uppercase
                                

// Margin for cards in portfolio
.portfolio-cards
    margin-bottom: 6rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column   

    h2 
        color: $brand-white 

    .pagination
        display: none


    
           
// The pseudo-nav cards
.grid-cards
    display: grid
    grid-template-columns: repeat(3, $margin-content) repeat(5, auto) repeat(3, $margin-content) // 9 columns
    grid-template-rows: auto auto
    
    padding: 0
    margin-bottom: 2rem

    @media #{"only screen and (max-width : 650px)"}
        grid-template-columns: repeat(5, auto)  // 5 columns


    .card-shape
        border: 3px dashed $brand-white
        width: $card-width
        height: $card-height
        margin: 0 auto
        //cursor: pointer
                
        +mTransition(.4, ease)
        +zoomUp(.4s, 1.05)
        +mBorderR(8px)

        display: flex 
        justify-content: center 
        align-items: center

        &:hover
            border: 3px dashed $brand-black
                    
            background-color: $brand-white //$body-gradient
            +mLinear-Gradient(to bottom right, $brand-gray, $brand-white)


        @media #{"only screen and (max-width : 650px)"} 
            width: $card-width-sm
            height: $card-height-sm

            display: flex
            align-items: center
            justify-content: center

        &:hover a h6
            display: block
        
        &:hover i
            transition: transform .4s
            transform: scale(1.8) 
        
        a 
            //text-decoration: none
            color: $brand-red
            display: flex
            flex-direction: column
            justify-content: center
            
            h6 
                display: none
                font-size: .7rem
                text-align: center
        
            div
                text-align: center
                i 
                    text-decoration: none

            
    // Cards order
    .first-card
        grid-column: 4/5

        @media #{"only screen and (max-width : 650px)"}
            grid-column: 1/2
            
    .second-card
        grid-column: 5/6

        @media #{"only screen and (max-width : 650px)"}
            grid-column: 2/3

    .third-card
        grid-column: 6/7

        @media #{"only screen and (max-width : 650px)"}
            grid-column: 3/4
            
    .fourth-card
        grid-column: 7/8

        @media #{"only screen and (max-width : 650px)"}
            grid-column: 4/5

    .fifth-card
        grid-column: 8/9

        @media #{"only screen and (max-width : 650px)"}
            grid-column: 5/6



.bottom-space
    height: 24vh



// My Presentation (About me) cards
.mcard 
    background-color: $brand-white

    margin: 0  auto 2.5rem //0 auto 40px
    overflow: hidden // Hide circle

    +mShadow(0px 0px 6px 3px $brand-black) // Box Shadow
    +mTransition(.5s, ease-out)
    
    width: 225px
    height: 265px
    z-index: 9998

    &:hover
        height: 387px//24.2rem
        z-index: 9999

    .mcard-header 
        position: absolute
        width: 100%

        background-color: $brand-gray
        +mShadow( 0px 0px 10px 2px rgba(0,0,0,0.3)) // Box Shadow

        color: $brand-red
        font-family: $font-secondary
        font-weight: 600
        text-align: center

        margin-top: 150px//60%
        z-index: 9998

    .mcard-symbol
        position: absolute
        margin-top: 18px//9%
        width: 100%
        
    .mcard-content 
        display: none
        position: absolute

        text-align: center
        font-family: $font-fourth
        font-size: 13px //.73rem
        color: $brand-white

        z-index: 9998

        p 
            padding: .4rem

            a 
                color: $brand-blue
                text-decoration: none

                &:hover
                    color: $brand-white

        > i 
            width: 225px
            margin-top: .4rem

            &:hover
                cursor: pointer
                font-weight: 900

                i.fa 
                    color: $brand-red
                    transition: transform .4s
                    transform: scale(2.1)
        
        i.fa 
            margin-left: 2rem

    .mcard-btn-container 
        display: none
        position: absolute
        text-align: center
        z-index: 9998
        width: 100%
        
    .mcard-circle
        background-color: $brand-black
        border-radius: 50%
        height: 600px
        width: 650px
        margin-left: -95% // Move to left
        margin-top: -480px//-30rem // Move to up


    &:hover .mcard-header
        margin-top: 269px//116%

    &:hover .mcard-symbol
        display: none
        
    &:hover .mcard-content
        display: flex
        flex-direction: column
        align-items: center

    &:hover .mcard-btn-container 
        display: block
        margin-top: 285px//150%

    &:hover .mcard-circle 
        margin-top: -360px//-160%
    


/*Testing about card*/
.mabout-card
    margin-top: 235px
    width: 225px
    height: 150px
    z-index: 9998

    padding-top: 100px

    background-color: $brand-white
    +mBorderR(7px)
    +mShadow(0px 0px 6px 3px $brand-black) // Box Shadow
    +mTransition(.5s, ease-out)

    overflow: hidden

    
    .mtitle-card
        background-color: $brand-gray
        +mShadow( 0px 0px 10px 2px rgba(0,0,0,0.3)) // Box Shadow
        z-index: 9998
        
        h2 
            color: $brand-red
            font-family: $font-secondary
            font-weight: 600
            text-align: center


    .mcircle-card
        width: 400px
        height: 400px
        +mBorderR(50%)
        background-color: $brand-black

        position: relative
        top: -480px
        right: 87px

        img 
            width: 87px
            height: auto

            position: relative
            top: 310px
            left: 155px

            +zoomUp(.4s, 1.1)


    .mrect-card
        display: none
        height: 270px
        background-color: $brand-black

        border: 2px solid $brand-white
        +mBorderR(7px)

        position: relative
        top: -380px

        font-size: .8rem
        font-family: $font-fourth
        color: $brand-white
        padding: 0 .3rem
        text-align: center

        a 
            color: $brand-blue
            


    &:hover
        overflow: visible

    &:hover .mcircle-card
        display: none  

    &:hover .mrect-card
        display: flex
        flex-direction: column
        z-index: 9999

     
        



//***************** FONT AWESOME *********************//    
a > i 
    +zoomUp(.4s, 1.6)



//***************** FOOD *********************//
#mfood
    padding: 0 5rem

    h1 
        text-align: center
        color: $brand-white
    

    .link-container
        width: 200px
        margin-bottom: 5rem
        
        details
            margin-bottom: .7rem

            summary
                &:hover
                    cursor: pointer
                    font-size: 1.2rem
                    color: $brand-white


            li a
                text-decoration: none
                color: $brand-pure-black
                margin-bottom: 7rem

                &:hover
                    color: $brand-white
                //font-size: 4rem


    .food-content
        dl 
            hr 
                //margin: 4rem auto
                width: 80%

            dt 
                h2 
                    color: $brand-white
                    text-align: center
        
            dd 
                img.m-img
                    display: block
                    margin: 2.5rem auto

                    +mBorderR(6px)
                    +mShadow(2px 2px 5px 3px $brand-black)
                    +zoomUp(.4s, 1.1)

                p.right-text
                    display: flex
                    justify-content: flex-end

                    a
                        margin-top: 2rem 
                        padding: .4rem 1rem

                        +mBorderR(10px)
                        border: 1px solid $brand-white
                        color: $brand-white
                        text-decoration: none

                        &:hover
                            background-color: $brand-black
                            
                ul li h4 
                    color: $brand-white
                    margin: 2rem 0


    .recipes-button
        button
            display: block
            margin: auto
                
