/* ------------------------------------------------------ */
/* General */
html 
    font-size: $font-base-size
                
    @media #{$information-desktop} 
        font-size: 14px
    
    @media #{$information-tablet} 
        font-size: 13px
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 12px
    
    @media #{$information-phone} 
        font-size: 11px


body 
    font-family: $font-primary, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
    line-height: $line-height
    margin: 0
    padding: 0
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    
    //background-image: url("./../assets/images/bg/blue_pool_table.jpg")
    background-image: url("./../public/assets/images/bg/pool_table.png")


code 
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace


/* Text */
//***************** FONT AWESOME *********************//    
a > i 
    +zoomUp(.4s, 1.6)


//Headings
h1, h2, h3, h4, h5, h6 
    color: $brand-white


h1 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2.4rem
                
    @media #{$information-desktop} 
        font-size: 2.1rem
    
    @media #{$information-tablet} 
        font-size: 1.7rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.45rem
    
    @media #{$information-phone} 
        font-size: 1.2rem

h2
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2.2rem
                
    @media #{$information-desktop} 
        font-size: 1.9rem
    
    @media #{$information-tablet} 
        font-size: 1.65rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.375rem
    
    @media #{$information-phone} 
        font-size: 1.18rem

h3 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 2rem
                
    @media #{$information-desktop} 
        font-size: 1.7rem
    
    @media #{$information-tablet} 
        font-size: 1.5rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.325rem
    
    @media #{$information-phone} 
        font-size: 1.16rem

h4 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.8rem
                
    @media #{$information-desktop} 
        font-size: 1.6rem
    
    @media #{$information-tablet} 
        font-size: 1.375rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.275rem
    
    @media #{$information-phone} 
        font-size: 1.14rem

h5 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.7rem
                
    @media #{$information-desktop} 
        font-size: 1.45rem
    
    @media #{$information-tablet} 
        font-size: 1.325rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.215rem
    
    @media #{$information-phone} 
        font-size: 1.11rem

h6 
    @media #{"only screen and (max-width : 1060px)"} 
        font-size: 1.6rem
                
    @media #{$information-desktop} 
        font-size: 1.4rem
    
    @media #{$information-tablet} 
        font-size: 1.3rem
    
    @media #{"only screen and (max-width : 770px)"} 
        font-size: 1.2rem
    
    @media #{$information-phone} 
        font-size: 1.1rem

        
p
    color: $brand-white
    font-family: $font-fourth

    @media #{"only screen and (max-width : 770px)"} 
        margin-top: 2rem

    a 
        color: $brand-blue

        &:hover
            color: $brand-pure-black
            text-decoration: none


/* Index */
.mtitle
    font-size: 3.2rem


p
    color: $brand-white
    font-family: $font-fourth

    @media #{"only screen and (max-width : 770px)"} 
        margin-top: 2rem

    a 
        color: $brand-blue

        &:hover
            color: $brand-pure-black
            text-decoration: none


/* Images */
img.mimg 
    width: 15vw
    height: auto
    min-width: 150px

    +mBorderR(9px)
    +mShadow(0px 0px 7px 5px $brand-black)
    +zoomUp(.6s, 1.2)
    


/* Spaces */
.bottom-space 
    margin-bottom: 24vh


.bottom-space-sm 
    margin-bottom: 9rem

 
.top-space 
    margin-top: 10rem // 14vh

    @media #{"only screen and (max-width : 770px)"} 
        margin-top: 11rem
  

//***************** FLEX SEARCH BAR *********************//
img.mlogo
    height: $search-bar-logo-height
    width: auto

    +zoomUp(.6s, 1.2)
    +mBorderR(9px)
    +mShadow(0px 0px 7px 2px $brand-black)
    

    @media #{"only screen and (max-width : 770px)"}
        height: $search-bar-logo-height-sm
     

/* Social Chip */                
.button-chip-sm
    +mChipButton($chip-size, $chip-size-sm)

    font-size: 1rem
            

.button-chip-lg
    +mChipButton($chip-size-lg, $chip-size-lg-sm)
    
    font-size: 1.4rem


/* Social Container */
.social-chip 
    &:hover + .social-container
        display: block

        

.social-container
    left: 1rem
    display: none

    background-color: $brand-white
    width: 8rem//6.7rem
    height: 12.5rem//11rem

    +mBorderR(10px)
    +mShadow( 0px 0px 10px 7px rgba(0,0,0,.8)) // Box Shadow


    header h3
        font-family: $font-fourth
        font-size: 1.5rem
        color: $brand-red

   
    img 
        transition: transform .5s
        cursor: pointer

   
    &:hover
        display: block

        img
            transform: scale(1.3)
   

a > i
    color: $brand-red 
    +zoomUp(.4s, 1.6)


aside
    z-index: 9999
    bottom: $from-bottom-height
 

/* Social Icon */
.social-icon
    font-size: 1.3rem

/* Arrow */
.arrow-container
    cursor: pointer
    right: 1.8rem
    bottom: 4rem
    
    +mTransition(1s, ease-out)
    +zoomUp(.3s, 1.3)

    
//* ARROW *//
.line
    width: 0
    height: 9vh
    border-right: 4px dashed $brand-white
    

.arrow 
    border: dashed $brand-white
    border-width: 0 3px 3px 0
    display: inline-block
    padding: .8rem // Arrow width


.right 
    +mRotate(-45deg)

.left 
    +mRotate(135deg)

.up 
    +mRotate(-135deg)

.down 
    +mRotate(45deg)



/*Home*/
.pool-box
    background-image: url("./../public/assets/images/bg/pool_table.png")
    +mShadow(2px 3px 4px 2px $brand-black)


.msuper-title
    font-family: $font-secondary
    color: $brand-white
    font-weight: 600
    font-size: 3.5rem
    letter-spacing: .5rem
    line-height: 5rem
    text-shadow: 2px 2px 10px black
    padding: 2rem 1rem


/* Card Shapes */
.card-shape
    border: 3px dashed $brand-white
    width: $card-width
    height: $card-height
    margin: 0 auto
    //cursor: pointer
                
    +mTransition(.4, ease)
    +zoomUp(.4s, 1.05)
    +mBorderR(8px)


    a 
        text-decoration: none
        color: $brand-red
            
        h4
            display: none
            font-size: .9rem
            text-align: center
            color: $brand-black
        
        div
            text-align: center
            i 
                text-decoration: none


    &:hover
        background-color: $brand-white 
        border: 3px dashed $brand-black
                    
        +mLinear-Gradient(to bottom right, $brand-gray, $brand-white)


        &:hover a h4
            display: block
        

        &:hover i
            transition: transform .6s
            transform: scale(1.9) 
        

    @media #{"only screen and (max-width : 650px)"} 
        width: $card-width-sm
        height: $card-height-sm


/* About */
.mcard 
    background-color: $brand-white

    margin: 0  auto 2.5rem //0 auto 40px
    overflow: hidden // Hide circle

    +mShadow(0px 0px 6px 3px $brand-black) // Box Shadow
    +mTransition(.5s, ease-out)
    
    width: 250px//235px
    height: 265px
    //z-index: 9990

    &:hover
        height: 387px//24.2rem
        z-index: 9999

    .mcard-header 
        position: absolute
        width: 100%

        background-color: $brand-gray
        +mShadow( 0px 0px 10px 2px rgba(0,0,0,0.3)) // Box Shadow

        color: $brand-red
        font-family: $font-secondary
        font-weight: 600
        text-align: center

        margin-top: 150px//60%
        //z-index: 9998


    .mcard-symbol
        position: absolute
        margin-top: 18px//9%
        width: 100%
        

    .mcard-content 
        display: none
        position: absolute

        text-align: center
        font-family: $font-fourth
        font-size: 13px //.73rem
        color: $brand-white

        z-index: 9998

        p 
            padding: .4rem

            a 
                color: $brand-blue
                text-decoration: none

                &:hover
                    color: $brand-white

        > i 
            width: 235px
            margin-top: .8rem

            i.fa 
                color: $brand-red
                transition: transform .4s
                transform: scale(2.1)
        
        i.fa 
            margin-left: 2rem


    .mcard-btn-container 
        display: none
        position: absolute
        text-align: center
        z-index: 9998
        width: 100%
        

    .mcard-circle
        background-color: $brand-black
        border-radius: 50%
        height: 600px
        width: 650px
        margin-left: -82% // Move to left
        margin-top: -480px//-30rem // Move to up


    &:hover .mcard-header
        margin-top: 269px//116%

    &:hover .mcard-symbol
        display: none
        
    &:hover .mcard-content
        display: flex
        flex-direction: column
        align-items: center

    &:hover .mcard-btn-container 
        display: block
        margin-top: 285px//150%

    &:hover .mcard-circle 
        margin-top: -360px//-160%
    
/*Contact Form*/
.maboutform
    +mShadow(2px 2px 6px 3px rgba(0,0,0,.4))
    padding: 2rem

    z-index: 9999

    //margin-top: 8rem

    @media #{"only screen and (max-width : 770px)"}
        margin-top: 5rem




#mContactForm
    small
        margin-top: .5rem
        color: $brand-black
        font-family: $font-fourth
        font-weight: 900
        margin: 0 auto


.about-form
    small
        margin-top: .5rem
        color: $brand-white
        font-family: $font-fourth
        font-weight: 900
        margin: 0 auto


input, textarea
    +mTransition(.7s, ease-out)
    +mBorderR(10px)
    +mLinear-Gradient(to bottom right, $brand-gray, $brand-white)
        

    &:hover
        border: 2px solid $brand-black



/*Portfolio*/
.mportfoliocard
    background-color: $brand-white
    margin: auto

    .card-body
        button
            display: block
            margin: auto
    
            a
                padding: .7rem .7rem

    ul > li 
        text-align: center

    img
        +zoomUp(.4s, 1.1)
        +mBorderR(8px)

        max-height: 200px

    p
        font-family: $font-fourth
        font-weight: 600
        color: $brand-black


.card
    +mShadow(0px 0px 7px 5px $brand-black)
    //width: 85%

    h5.card-header
        height: 4rem
        background-color: $brand-black
        color: $brand-red
        text-align: center
        
        a
            font-size: 1.4rem
            font-family: $font-fourth
            color: $brand-red
            font-weight: 600
            text-transform: uppercase


.card-title
    color: $brand-red


.btn-border-primary
    border: 1px solid $brand-red
    background-clip: border-box
    background: none
    color: $brand-red  
    +mBorderR(10px)
    
    //width: 50%
    height: 2rem

    font-family: $font-primary
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase

    +mTransition(.6s, ease-out)

    a 
        +mTransition(.6s, ease-out)
        text-decoration: none
        color: $brand-red

    
    &:hover
        background-color: $brand-red
        color: $brand-white

        +mLinear-Gradient(to bottom right, $brand-red, $brand-gray)

    &:hover a
        color: $brand-white


.btn-border-secondary
    border: 2px solid $brand-blue
    background-clip: border-box
    background: none
    color: $brand-blue  
    +mBorderR(40px)
    
    width: 75%
    height: 2.5rem

    font-family: $font-third
    font-size: 1rem
    text-decoration: none
    text-transform: uppercase

    +mTransition(.5s, ease-out)

    &:hover
        background-color: $brand-blue
        color: $brand-white 
        

.btn-border-black
    border: 2px solid $brand-black
    background-clip: border-box
    color: $brand-black
    +mBorderR(10px)
    +mLinear-Gradient(to bottom right, $brand-white, $brand-gray)
        
    
    //width: 50%
        height: 2rem

        font-family: $font-primary
        font-size: 1rem
        text-decoration: none
        text-transform: uppercase
        padding: .2rem 2rem
    
        display: block
        margin: 0 auto


        +mTransition(.6s, ease-out)

    a 
        +mTransition(.6s, ease-out)
        text-decoration: none
        color: $brand-red

    
    &:hover
        background-color: $brand-black
        color: $brand-white

        +mLinear-Gradient(to bottom right, $brand-black, $brand-gray)

    &:hover a
        color: $brand-white


// Extra
i 
    &:hover
        cursor: pointer
        font-weight: 900

        > i 
            color: $brand-red

button a 
    color: $brand-white
    text-decoration: none

    &:hover
        color: $brand-black
        text-decoration: none

        

//***************** Modals *********************//
.modal
    +mTransition(.7s, ease-out)
    background-color: $brand-black // Back modal
    
    .modal-dialog
        background-color: $brand-white
        z-index: 9999





//***************** FOOD *********************//
details
    margin-bottom: .7rem

    summary
        color: $brand-pure-black
        &:hover
            cursor: pointer
            font-size: 1.2rem
            color: $brand-white


    li a
        text-decoration: none
        color: $brand-pure-black
        margin-bottom: 7rem

        &:hover
            text-decoration: none
            color: $brand-white


.goUpButton
    +mBorderR(10px)
    border: 1px solid $brand-white
    color: $brand-white
    text-decoration: none

    +mTransition(.4s, ease-out)

    &:hover
        background-color: $brand-black
        color: $brand-white

#mfood
    .food-content
        dl 
            hr 
                //margin: 4rem auto
                width: 80%
        
            dd 
                img.m-img
                    //display: block
                    //margin: 2.5rem auto

                    +mBorderR(6px)
                    +mShadow(2px 2px 5px 3px $brand-black)
                    +zoomUp(.4s, 1.1)

                p.right-text
                    display: flex
                    justify-content: flex-end

                    a
                        +mBorderR(10px)
                        border: 1px solid $brand-white
                        color: $brand-white
                        text-decoration: none

                        &:hover
                            background-color: $brand-black
                            
                ul li h4 
                    color: $brand-white
                    margin: 2rem 0


    .recipes-button
        button
            display: block
            margin: auto


// Food Modal
//* Style the Image Used to Trigger the Modal */
.myModalImg 
    border-radius: 5px
    cursor: pointer
    transition: 0.3s

    &:hover
        opacity: 0.7    

    

/* The Modal (background) */
.modal 
    display: none //* Hidden by default */
    position: fixed //* Stay in place */
    z-index: 1 //* Sit on top */
    padding-top: 100px //* Location of the box */
    left: 0
    top: 0
    width: 100% //* Full width */
    height: 100% //* Full height */
    overflow: auto //* Enable scroll if needed */
    background-color: rgb(0,0,0) //* Fallback color */
    background-color: rgba(0,0,0,0.9) //* Black w/ opacity */


/* Modal Content (Image) */
.modal-content 
    margin: auto
    display: block
    width: 80%
    max-width: 700px


/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption 
    margin: auto
    display: block
    width: 80%
    max-width: 700px
    text-align: center
    color: #ccc
    padding: 10px 0
    height: 150px


/* Add Animation - Zoom in the Modal */
.modal-content, #caption 
    -webkit-animation-name: zoom
    -webkit-animation-duration: 0.6s
    animation-name: zoom
    animation-duration: 0.6s


/* The Close Button */
.close 
    position: absolute
    top: 15px
    right: 35px
    color: #f1f1f1
    font-size: 40px
    font-weight: bold
    transition: 0.3s


.close:hover, .close:focus 
    color: #bbb
    text-decoration: none
    cursor: pointer


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px)
    .modal-content 
        width: 100%
