table, tr, td, th 
    border: 1px solid $brand-white
    border-collapse: collapse
    //padding: 15px


#skills-table
    display: block
    margin-top: 6%

    tr td, tr th
        padding: .2rem 0


#skills-table tr:nth-child(even)
    background-color: $brand-gray
    color: $brand-pure-black


#skills-table tr:hover 
    background-color: $brand-white
    color: $brand-pure-black
